/*-------- common styles start ----------------*/

:root{
    --theme-primary:#2EAEE1;
    --theme-secondary:#154355;

}

body {
    font-family: 'Calibri';font-size: 22px;
    /* background-color: red; */
}

h2 {
    font-family:sans-serif;
    color:var(--theme-secondary);
}

.subhead{
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 10px;
}

.btn-theme {
    background-color: var(--theme-primary);
    color:#fff;
    border:none;
    /* border-color: var(--theme-primary); */
}

.btn-theme:hover {
    background-color: #fff;
    border: 1px solid;
    border-color: var(--theme-primary);
    color:var(--theme-secondary);
    transform:scaleX(1.02);
    /* transition: all 1s ease; */
    transition: all .5s ease-in-out;
}

/*-------- common styles end ----------------*/

/* Header */
.custom-header .col-md-2 {
    white-space: nowrap; /* Prevent email ID from wrapping */
} 

.custom-header {
    /* background-color: #330000; */
    /* background-color: #2EAEE1; */
    background-color: var(--theme-secondary);
    color: white;
    text-align: center;
    padding: 3px 0;
    font-size: 12px; /* Smaller font size for copyright */
}

/* Icon Block */
.icon-block {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.icon-block p {
    color:rgb(0, 0, 0);
    font-size: 12px;
    padding:0px 30px;
}

.icon-block i {
    font-size: 2rem;
}


/* Carousel */

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}


/*  sticky-block */
#sticky-block{
    position:fixed;
    top:0;
    width:100%;
    overflow: hidden;
    z-index: 99;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* nav bar */
.navbar {
    text-align: center;
    vertical-align: middle;
    /* font-family: Raleway; */
    box-shadow: 5px 10px rgba(0, 0, 0, 1);
    background: #fff;
    padding: 2px 50px;
    
    
}
/* #nav-3 {
    background: #fff;
  } */
.nav-item {
    /* background: #EEA200; */
    /* background-color: var(--theme-primary); */
    margin: 0px 5px;
    /* border-radius: 5px; */
}

.nav-link {
    background-color: var(--theme-primary);
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding: 3px 10px;
    /* vertical-align: middle; */
    /* margin: 0 10px; */
  }
  .nav-link:hover {
    /* transition: 0.4s; */
    background-color: var(--theme-secondary);
    border-radius: 5px;
    color: #fff;
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
  }



/* Welcome Text */
.hero {
    margin:30px 0px;
}

.hero p {
    margin:0px 100px;
    margin-bottom: 30px;
}




.btn-invisible {
    background-color: transparent;
    border: none;
    color: #000; /* Set the text color */
}
.card-image-container {
    height: 250px; /* Adjust the height as needed */
    overflow: hidden;
}

.card-image-container img {
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
}
.card-title {
    font-family: sans-serif;
    font-size:14px;
    font-weight:600;    
    text-align: center;
}
.card-text {
    font-family: sans-serif;
    font-size:14px;
    font-weight:400;
    text-align: center;
}

/* Certification Block */

.client{
	width: 100%;
	height: auto;
}
.client ul{
	padding: 0;
	margin: 0;
    text-align: center;
}
.client ul li{
	list-style: none;
	display: inline-block;
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	justify-content: space-around;
}
.client ul li img{
	width: 100%;
	height: 100%;
	padding: 50px;
}
.client ul li img:nth-child(1){
	transform: translateY(0);
	transition: .5s;
}
.client ul li img:nth-child(2){
	transform: translateY(0);
	transition: .5s;
}

.client h2 {
    margin-top: 30px;
}
/* .client ul li:hover img:nth-child(1){
	transform: translateY(-100%);
	transition: .5s;
} */
/* .client ul li:hover img:nth-child(2){
	transform: translateY(-100%);
	transition: .5s;
} */


/* Footer */

.footer-logo h3, .footer-logo p {
text-align: left;
}

.footerlinks a{
    text-decoration:none;
    text-align: left;
    padding-left: 100px;
    font-size:14px;
    font-weight:300;
    color:#fff;

}
/* .footerlinks a:hover {
    background-color: yellow;
} */

.footer-menu ul li {
    text-align: left;
}
/* .footer-menu ul li a{
    padding-left: 100px;
    text-align: left;
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
    font-weight: 400;
} */

.footer-menu h5{
    color:rgb(255, 255, 255)!important;

}

.footer-bar{
    background-color:#141823
}
.footer-bar span{
    font-size:10px;
    text-decoration: none;
}
.footer-bar a{
    text-decoration: none;
}


/* Media queries */
@media(max-width: 576px) {
    .hero p {
        margin:0px 5px;
    }
}